body{
    display: flex;
    justify-content: center;
    background-color:  white;
    transform: translateY(9%);
    /* background-color:  rgba(0,0,0,0.08); */
}
    
section{
    width: 700px;
    box-shadow: 0px 0px 10px rgb(29, 27, 27);
}


h2{
    margin: 0;

}

img{
    margin: 0;
    width: 25px;
    cursor: pointer;
}

header{
    border-bottom: 1px solid rgba(0,0,0,0.08);

}

.container{
    display: flex;
    justify-content: center;
}

/* .choose-options{
} */

.option-holder{
    /* background-color: rgb(81, 1, 1); */
    background-color: white;
    margin: 20px;
    width: 400px;
    /* height: 40px; */
    box-shadow: 0px 0px 10px rgb(29, 27, 27);
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    
    
    
}

label{
    font-size: 1.8rem;
    font-family: Georgia;
    color: black;
    margin-left: 10px;

}

input{
    width: 20px;
    height: 20px;
    border: 5px solid black;
}

.view{
    /* width: 900px; */
    display: flex;
    justify-content: center;
    /* background-color: white; */
    /* mar */
}

.show-question-holder{
    background-color: white;
}

.demarcation{
    width: 100%;
    border: 1px solid rgb(117, 2, 2);
}

.first-section{
    width: 100%;
}

.showquestion{
    margin: 0;
    margin-top: 20px;
    background-color: white;
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 1.2rem;
    width: 400px;
    height: 5rem;
    transform: translateX(36%);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* margin-top: 20px; */

}
footer{
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
    /* border: 1px solid black; */
}

.question-counts{
    /* width: 4.5rem;
    height: 30px; */
    margin: 2%;
    border-bottom: 1px solid  black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    font-size: 1.3rem;

}

.btn-next{
    width: 4.5rem;
    height: 30px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgb(29, 27, 27);
    /* margin-bottom: 20px;
    margin-right: 20px; */
    border: 1px solid transparent;
    font-weight: bolder;
    margin: 2%;
}

@media screen and (max-width: 425px){
    body{
        transform: translate(0%);
        display: block;
        justify-content: none;
    }

    section{
        /* box-shadow: none; */
        width: 0;
    }

    .first-section{
        width: 0;
    }
    
}



